<header>
    <nav>
      <mat-form-field appearance="fill">
        <mat-label>
            <label for="filters">Filter by genres:</label>
        </mat-label>
        <mat-select disableRipple>
            <mat-option value=""></mat-option>
            <mat-option value="1">Animation</mat-option>
            <mat-option value="2">Science fiction</mat-option>
            <mat-option value="3">Drama</mat-option>
            <mat-option value="4">Fantasy</mat-option>
            <mat-option value="5">Mystery</mat-option>
            <mat-option value="6">Thriller</mat-option>
            <mat-option value="7">Horror</mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field appearance="fill">
        <mat-label>
            <label for="Sort">Sort by:</label>
        </mat-label>
        <mat-select disableRipple>
            <mat-option value=""></mat-option>
            <mat-option value="1">Popularity asc</mat-option>
            <mat-option value="2">Popularity desc</mat-option>
            <mat-option value="3">Release date asc</mat-option>
            <mat-option value="4">Release date desc</mat-option>
        </mat-select>
      </mat-form-field>
    </nav>
</header>
