<header>
    <nav>
      <mat-form-field appearance="fill" class="genreFilter">
        <mat-label>
            <label for="filters">Filter by genres:</label>
        </mat-label>
        <mat-select disableRipple [(value)]="selectedGenre" (selectionChange)="onGenreChange($event)">
            <mat-option value="">All</mat-option>
            <mat-option *ngFor="let genre of genreList" [value]="genre.id">{{ genre.name }}</mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field appearance="fill">
        <mat-label>
            <label for="Sort">Sort by:</label>
        </mat-label>
        <mat-select disableRipple [(value)]="selectedSort" (selectionChange)="onSortChange($event)">
            <mat-option value="">Default Sorting</mat-option>
            <mat-option *ngFor="let sorting of sortingList" [value]="sorting.id">{{ sorting.name }}</mat-option>
        </mat-select>
      </mat-form-field>
    </nav>
</header>
