.detailsViewSection {
    height: 100vh;
    max-height: 100vh;
    display: flex;
    flex-direction: column;
    background-image: url(../../../assets/img/f3d50af447760e7129a3d389db40e953.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}