.detailsViewSection {
    height: 100vh;
    max-height: 100vh;
    display: flex;
    flex-direction: column;
    background-image: url(../../../assets/img/fondo-textura-marmol-gris-oscuro-piso-piedra-baldosas-naturales_38607-960.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    padding-top: 2rem;
    padding-left: 4rem;
}