<section class="sectionDetailsComponent" *ngIf="movieDetail$ | async as movieDetail">
    <figure>
        <img [src]="movieDetail.imgURL" alt="Movie poster">
    </figure>
    <article>
        <div class="containerTitle">
            <h2>{{ movieDetail.title }}</h2>
            <p class="rating-indicator">{{ movieDetail.vote_average}}</p>
        </div>
        <div class="containerOverview">
            <ng-container *ngFor="let genre of movieDetail.genres">
                {{ genre.name }} |
            </ng-container>
            <time>Runtime: {{movieDetail.runtime}}</time>
            <time>Release date: {{movieDetail.release_date}}</time>
            <p> {{movieDetail.overview}}</p>
        </div>
    </article>
</section>
