.movieGallerySection {
    max-height: 100%;
    overflow-y: auto;
}
ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
li {
    list-style: none;
}
.cardsGallery {
    width: 19rem;
    height: 19rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 1rem;
    background-color: #0F0F0F;
}
img {
    width: 10rem;
    height: 10rem;
    padding-top: 1rem;
    margin: none;
}

[hidden] { visibility: hidden;}

